/** {
    border: 1px solid red !important;
}*/

body {
  font-family: 'Lato';
  font-weight: 400;
  color: #335c33;
}

h1 {
    font-weight: 100;
}

h2 {
    color: #708D70;
}

hr {
	margin: 6px 0;
	border-width: 3px 0;
	border-color: silver;
}
